

.projects{
    display: flex;
    margin: 10px;
    margin-left: 28.5%;
    
}

.p1 {
    margin: 10px;
    
}

.p2{
    margin: 10px;
  
}

.pic{
      border-radius: 5px;
}

.contact{
    text-align: center;
    display:grid;
    width: 29%;
    margin-left: 33%;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
       margin-left: 43%;
        font-weight: bold;
}
.contact button{
   background-color: #3498db; 
   color: black;
   border-radius: 5px;
border: 1px solid black;
    margin-top: 3px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: rgb(50, 50, 50);
    color: white;
    text-align: center;
    margin-top: 5px;
}

.proplem{
    text-align: center;
}

.in{
    height: 20px;
    border-radius: 5px;
    border: 1px solid black;
}

.inn{
    border-radius: 5px;
        border: 1px solid black;
    height: 40px;
}